<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" lang="pl">
<head>
  <meta charset="utf-8"/>
  <title>Product Manager</title>
</head>
<body>
<div align="center">
  <h1>Product List</h1>
  <a href="/new">Create New Product</a>
  <br/><br/>
  <table border="1" cellpadding="10">
    <thead>
    <tr>
      <th>Nickname</th>
      <th>Wzrost</th>
      <th>Waga</th>
      <th>BMI</th>
      <th>z</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="result : ${listResults}">
      <td th:text="${result.nickname}">Name</td>
      <td th:text="${result.height}">Brand</td>
      <td th:text="${result.weight}">Made in</td>
      <td th:text="${result.bmi}">Price</td>
      <td>
        <a th:href="@{'/delete/' + ${result.id}}">Delete</a>
      </td>
    </tr>
    </tbody>
  </table>
</div>
</body>
</html>
