<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" lang="pl">
<head>
  <meta charset="utf-8" />
  <title>Create New Product</title>
</head>
<body>
<div align="center">
  <h1>Create New Product</h1>
  <br />
  <form action="#" th:action="@{/save}" th:object="${result}" method="post">

    <table border="0" cellpadding="10">
      <tr>
        <td>Nickname:</td>
        <td><input type="text" name="nickname"/></td>
      </tr>
      <tr>
        <td>Waga:</td>
        <td><input type="number" name="weight"/></td>
      </tr>
      <tr>
        <td>Wzrost:</td>
        <td><input type="number" name="height"/></td>
      </tr>
      <tr>
        <td colspan="2"><button type="submit">Save</button> </td>
      </tr>
    </table>
  </form>
</div>
</body>
</html>
