<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <style>


        .carousel-inner img {
            width: 100%; /* Set width to 100% */
            margin: auto;
            min-height:200px;
        }

        /* Hide the carousel text when the screen is less than 600 pixels wide */
        @media (max-width: 600px) {
            .carousel-caption {
                display: none;
            }
        }
    </style>
</head>

<body>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <ul class="nav nav-tabs nav-justified">
                <li class="nav-item">
                    <a class="nav-link" href="/">Kalkulator</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/results">Wszystkie wyniki</a>
                </li>
            </ul>
        </div>
        </nav>
    </div>
</div>
</div>
<p></p>
<div class="row" style="align-items: end">
    <div class="col-md-4">
        <p style="-moz-text-size-adjust: auto">Cześć !</p>
        <div class="mt-5"><h1 th:text="${result.getNickname()}"></h1></div>
        <p>Twój wynik BMI to :</p>
        <div class="mt-5"><h1 th:text="${result.getBmi()}"></h1></div>
    </div>

    <div class="col-md-4">
        <il style="font-size: 12px; font-weight: bolder">
            <ul>Zakresy wartości BMI:</ul>
            <ul> mniej niż 16 - wygłodzenie</ul>
            <ul>16 - 16.99 - wychudzenie</ul>
            <ul>17 - 18.49 - niedowaga</ul>
            <ul>18.5 - 24.99 - wartość prawidłowa</ul>
            <ul> 25 - 29.99 - nadwaga</ul>
            <ul>30 - 34.99 - I stopień otyłości</ul>
            <ul>35 - 39.99 - II stopień otyłości</ul>
            <ul>powyżej 40 - otyłość skrajna</ul>
        </il>
    </div>

    <p></p>
</div>


</body>
</html>


