<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Wynik BMI</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css">
</head>

<body>

<div>
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link" href="/">Kalkulator</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/results">Wszystkie wyniki</a>
        </li>
    </ul>
</div>
<div class="container my-2">
    <div class="card">
        <div class="card-body">
            <div class="col-md-10">
                <table class="table table-striped table-responsive-md">
                    <div class="col-md-4">
                        <p style="-moz-text-size-adjust: auto">Cześć !</p>
                        <div class="mt-5"><h1 th:text="${result.getNickname()}"></h1></div>
                        <p>Twój wynik BMI to :</p>
                        <div class="mt-5"><h1 th:text="${result.getBmi()}"></h1></div>
                    </div>
                </table>
            </div>

            <div class="container text-center">
                <div class="row">
                    <div class="row" style="align-items: end">
                        <div class="col-md-4">
                            <h2>
                                Kalkulator BMI
                            </h2>
                            <p>
                                Kalkulator BMI (Body Mass Index) daje każdemu możliwość szybkiego i wygodego obliczenia własnego
                                wskaźnika masy ciała. BMI obliczamy dzieląc masę ciała (w kilogramach) przez wzrost do kwadratu (w
                                metrach). Wskaźnik ten wykorzystywany jest przede wszystkim do oceny ryzyka pojawienia się groźnych
                                chorób: miażdżycy, choroby niedokrwiennej serca, udaru mózgu, czy nawet nowotworów. Większość tych
                                chorób jest związana z otyłością i dlatego kalkulator BMI to tak przydatne narzędzie.
                            </p>
                        </div>
                        <div class="col-md-4">
                            <h2>
                                Czym jest BMI?
                            </h2>
                            <p>
                                BMI jest jednym z ważnych wskaźniów określających nasz stan fizyczny, ale niestety nie
                                wystarczającym.
                                Bardzo ważnym uzupełnieniem BMI jest wskaźnik ilości tłuszczu brzusznego - zbyt duży może oznaczać
                                niebezpieczną otyłość brzuszną i to nawet przy prawidłowym BMI! Ponadto, paradoksalnie, badania
                                naukowe
                                wskazują, że osoby z lekką nadwagą zwykle są zdrowsze i żyją dłużej od osób z tzw. "prawidłową
                                wagą".
                                Pojawiają się nawet głosy, że ustalony arbitralnie przez WHO próg nadwagi (25) jest zbyt niski.
                            </p>

                        </div>
                        <div class="col-md-4">
                            <il style="font-size: 12px; font-weight: bolder">
                                <ul>Zakresy wartości BMI:</ul>
                                <ul> mniej niż 16 - wygłodzenie</ul>
                                <ul>16 - 16.99 - wychudzenie</ul>
                                <ul>17 - 18.49 - niedowaga</ul>
                                <ul>18.5 - 24.99 - wartość prawidłowa</ul>
                                <ul> 25 - 29.99 - nadwaga</ul>
                                <ul>30 - 34.99 - I stopień otyłości</ul>
                                <ul>35 - 39.99 - II stopień otyłości</ul>
                                <ul>powyżej 40 - otyłość skrajna</ul>
                            </il>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
</div>
</div>
</body>

</html>




